table td[class^="status-"] {
  font-weight: bold;
}

table td.status-H {
  background-color: #d4edda;
  color: #155724;
}

table td.status-I {
  background-color: #fff3cd;
  color: #856404;
}

table td.status-S {
  background-color: #cce5ff;
  color: #004085;
}

table td.status-A {
  background-color: #f5c6cb;
  color: #721c24;
}

table td:nth-last-child(-n+4),
table td:first-child {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0px;
  border-top: 0px;

}