table td.status-H {
  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
}
table td.status-I {
  background-color: #fff3cd;
  color: #856404;
  font-weight: bold;
}
table td.status-S {
  background-color: #f8d7da;
  color: #721c24;
  font-weight: bold;
}
table td.status-A {
  background-color: #f5c6cb;
  color: #721c24;
  font-weight: bold;
}