@media print {
  img {
    display: block !important;
    visibility: visible !important;
  }
}

.table-wrapper {
  position: relative;
  overflow-x: scroll;
}

.table-scroll-container{
  position: relative;
}

.top-scroll-wrapper{
  width: 100%;
  overflow-x: auto;
  margin-bottom: 5px;
}

.top-scroll{
  height: 1px;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.d-none {
  display: none !important;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .foi-navbar {
    font-size: medium;
  }
  .fs-6 {
    font-size: small;
  }
}
