.table-wrapper {
  position: relative;
  overflow-x: scroll;
  height: 71vh;
}

#example thead th {
  background-color: #343a40;
  color: white;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
}

.fs-6 {
  padding: 0;
  margin: 0;
}

.d-vh {
  height: 29vh;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.d-none {
  display: none !important;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 575.98px) {
  .table-wrapper {
    height: 77vh;
  }

  .d-vh {
    height: 23vh;
  }

  .fs-7 {
    font-size: 14px;
    padding: 5px;
  }

  .fs-relative {
    font-size: 18px;
  }

  .m-y-0 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .py-relative {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  #example thead th {
    background-color: #343a40;
    color: white;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
  }

  #example tbody td {
    font-size: 11px;
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .img-size {
    width: 50px;
    height: auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .table-wrapper {
    height: 70vh;
  }

  .d-vh {
    height: 30vh;
  }

  .py-relative {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .img-size {
    width: 75px;
    height: auto;
  }

  #example thead th {
    background-color: #343a40;
    color: white;
    font-size: 13px;
    vertical-align: middle;
    text-align: center;
  }

}

@media (min-width: 768px) {
  .table-wrapper {
    height: 70vh;
  }

  .d-vh {
    height: 30vh;
  }

  .img-size {
    width: 75px;
    height: auto;
  }

  .m-y-0 {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  #example thead th {
    background-color: #343a40;
    color: white;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

@media (min-width: 1200px) {
  .table-wrapper {
    height: 70vh;
  }

  .d-vh {
    height: 30vh;
  }

  .img-size {
    width: 50px;
    height: auto;
  }

  .m-y-0 {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .fs-7 {
    font-size: 12px;
    padding: 5px;
  }

  .fs-relative {
    font-size: 18px;
  }

  #imgFluid {
    max-width: 100px;
    max-height: 100px;
  }

  #example thead th {
    background-color: #343a40;
    color: white;
    font-size: 10px;
    vertical-align: middle;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  #example tbody td {
    font-size: 10px;
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}